@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}

.wrapper {
    background: #f7f7f7;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* signup */
.form {
    padding: 25px;
}

.form .signup {
    background: #F6F8FD;
}

.form header {
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}

.form header .intro h3 {
    font-size: 22px;
    font-style: italic;
    
}

.form header .intro h3 span {
    color: #ff0b0b;
}

.form header .intro p {
    font-size: 15px;
    color: #67676a;
}

.form header .daftarkan {
    margin-top: 20px;
    font-size: 17px;
    color: #ff0b0b;
}

.form form .list-daftar {
    /* min-height: 50vh; */
    max-height: 500px;
    overflow-y: scroll;
    margin: 10px;
}

.form form .list-daftar::-webkit-scrollbar {
    width: 0px;
}

.form form {
    margin: 10px 0;
}

.form form .error-txt {
    color: #721c24;
    background-color: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}

.form .name-details {
    display: flex;
}

.form .name-details .field:first-child {
    margin-right: 10px;
}

.form .name-details .field:last-child {
    margin-left: 10px;
}

.form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    position: relative;
}

.form .field label {
    margin-bottom: 2px;
}

.form .field i {
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form .field i.active::before {
    color: #333;
    content: "\f070";
}

.form .field input {
    outline: none;
}

.form .input input {
    height: 30px;
    width: 100%;
    font-size: 15px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form .image label {
    font-size: 17px;
}

.form .image input {
    font-size: 15px;
}

.form .button input {
    margin-top: 8px;
    height: 35px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #ff0b0b;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.form .button input:hover {
    font-weight: 700;
}

.form .link {
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
    color: #333;
}

.form .link a {
    color: #ff0b0b;
    text-decoration: none;
    font-weight: 600;
}

.form .link a:hover {
    text-decoration: underline;
}

#pilihanProdi, #pilihanKelas {
    height: 30px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

/* Global styles */
.users {
    padding: 20px 30px;
}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .users-list) .content {
    display: flex;
    align-items: center;
}

.users header .content img{
    height: 50px;
    width: 50px;
}

:is(.users, .users-list) .details {
    color: #000;
    margin-left: 15px;
}

:is(.users, .users-list) .details span {
    font-size: 18px;
    font-weight: 500;
}

/* .logout {
    color: #fff;
    padding: 10px;
    font-size: 15px;
    background-color: #ff0b0b;
    border-radius: 10px;
} */

.users .search {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users .search .text {
    font-size: 18px;
}

.users .search input {
    position: absolute;
    height: 42px;
    width: 330px;
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.users .search input.active {
    opacity: 1;
    pointer-events: auto;
}

.users .search button {
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #333;
    background: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
    transition: all 0.2s ease;
}

.users .search button.active {
    color: #fff;
    background: #333;
}

.users .search button.active i::before {
    content: "\f00d";
}

.users-list {
    max-height: 350px;
    overflow-y: auto;
}

:is(.users-list, .chat-box)::-webkit-scrollbar {
    width: 0px;
}

.users-list a {
    padding-right: 15px;
    margin-bottom: 15px;
    page-break-after: 10px;
    border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
    border: none;
    margin-bottom: 0px;
}

.users-list a .content p {
    color: #67676a;
}

.users-list a .content img{
    height: 40px;
    width: 40px;
}

.users-list a .status-dot {
    font-size: 12px;
    color: #468669;
}

/* class php untuk offline status */
.users-list a .status-dot.offline{
    color: #ccc;
}


/* chat area */
.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon {
    font-size: 18px;
    color: #333;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box {
    overflow-y: auto;
    height: 400px;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgba(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgba(0 0 0 / 5%);
}

@media screen and (max-width: 450px) {
    .chat-box {
        height: 65vh;
    }
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgba(0 0 0 / 8%),
                0 16px 16px -16px rgba(0 0 0 / 16%);
}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.chat-box .outgoing {
    display: flex;
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.incoming .details p {
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
    padding: 18px 30px;
    justify-content: space-between;
    display: flex;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

/* postingan area */
.postingan-area header {
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

.postingan-area header p {
    font-size: 15px;
    margin-left: 15px;
    font-weight: 600;
}

.postingan-area header .back-icon {
    font-size: 15px;
    color: #333;
}

.postingan-box {
    height: 550px;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgba(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgba(0 0 0 / 5%);
}


.postingan-box .postingan {
    margin: 10px 0;
}

/* .postingan-box .postingan p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgba(0 0 0 / 8%),
                0 16px 16px -16px rgba(0 0 0 / 16%);
} */

.postingan-box .incoming {
    display: flex;
}

.postingan-box .incoming img {
    height: 45px;
    width: 45px;
}


.postingan-box .details {
    margin-left: 10px;
    margin-right: auto;
    width: 100;
}

.postingan-box .details h4 {
    font-weight: 600;
}

.postingan-box .details h6 {
    font-weight: normal;
    font-size: 13px;
    width: 100%;
    color: #333;
}

.postingan-content {
    form {
        margin-top: 20px;
        text-align: justify;
    }

    form textarea {
        box-sizing: border-box;
        resize: none;
        overflow-y: auto;
        height: 100px;
        width: 100%;
        font-size: 17px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px ;
        outline: none;
    }

    .catatan {
        margin-top: 20px;
        font-size: 15px;
    }

    .catatan ol {
        margin-left: 20px;
    }

    .catatan h4 {
        font-weight: bold;
    }

    
}

.postingan-box .postingan-content .setuju {
    display: flex;
    cursor: pointer;
    display: flex;
    margin-top: 15px;
}



.postingan-box .postingan-content .setuju input {
    width: 18px;
    cursor: pointer;
    display: flex;
}

.setuju label {
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    margin-top: 12px;
}

.postingan-box .postingan-content button {
    border-color: rgba(255, 11, 11, 0.75);
    border-radius: 10px;
    background: #ff0b0b;
    margin-top: 10px;
    color: #FFffff;
    width: 100%;
    height: 35px;
    font-size: 17px;
    cursor: pointer;
}

.postingan-box .postingan-content button:hover{
    font-weight: bold;
}

@media screen and (max-width: 756px) {

    .postingan-content {

        form textarea {
            font-size: 15px;
        }
    }


    .postingan-box .details h4 {
        font-size: 15px;
    }

    .postingan-box .incoming img {
        height: 40px;
        width: 40px;
    }    

    .postingan-box {
        min-height: 65vh;
    }

    .postingan-area header p {
        font-size: 15px;
        margin-left: 15px;
        font-weight: 600;
    }
    
    .postingan-area header .back-icon {
        font-size: 15px;
        color: #333;
    }

    .postingan-content {
        .catatan ol {
            margin-left: 25px;
        }

        button {
            margin-top: 15px;
            font-size: 17px;
        }

        .setuju {
            display: flex;
            margin-top: 20px;

            input {
                width: 20px;
            }
    
            label {
                font-weight: 500;
                font-size: 16px;
                margin-left: 10px;
            }
        }
    }
}

/* nav utama */
navbar-home {
    display: flex;
    height: auto;
}

.nav-home {
    display: flex;
    background:#F6F8FD;
    /* padding: 10px; */
    border-bottom: 1px solid #ccc;
}

.navbar-home .nav-home ul li p {
    color: rgba(255, 11, 11, 0.75);
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}

.navbar-home .nav-home ul li p span {
    color: rgba(0, 0, 0, 0.75);
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.navbar-utama {
    display: flex;
    height: auto;
}

.navbar-utama .nav-utama ul li p {
    color: rgba(255, 11, 11, 0.75);
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
    /* margin-right: 280px; */
}

.navbar-utama .nav-utama ul li p span {
    color: rgba(0, 0, 0, 0.75);
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

@media screen and (min-width: 450px){
    .navbar-utama .nav-utama ul li p span,
    .navbar-utama .nav-utama ul li p {
        font-size: 20px;
    }

    .navbar-utama .nav-utama ul li p {
        margin-right: 245px;
    }

    /* .navbar-utama .nav-utama ul li svg{
        margin-right: 18px;
    } */
}

@media screen and (min-width: 400px) {
    .navbar-utama .nav-utama ul li p {
        margin-right: 250px;
    }
}

@media screen and (min-width: 341px) and (max-width: 374px) {
    .navbar-utama .nav-utama ul li p {
        margin-right: 175px;
    }
}

@media screen and (min-width: 375px) and (max-width: 399px) {
    .navbar-utama .nav-utama ul li p {
        margin-right: 200px;
    }
}

@media screen and (max-width: 340px) {
    .navbar-utama .nav-utama ul li p {
        margin-right: 175px;
    }
}

.nav-utama {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#F6F8FD;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.nav-utama ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}


.nav-utama ul li svg{
    width: 35px;
    height: 35px;
    margin: 0;
    cursor: pointer;
}

.search-container {
    display: none;
}

.nav-utama ul li p {
    font-size: 1.5rem;
}

.nav-utama ul li {
    margin: 0;
    display: flex;
    align-items: center;
}

/*  */


/* nav menu */
.menu {
    /* background-color: #F6F8FD;  */
    padding: 10px ;
    border: 1px solid #ccc;
    background: 
    #F6F8FD;
}

.menu-user {
    display: flex;
    justify-content: center; 
}

/* .menu-user nav ul li a.active {
    color: #ff0b0b;
} */

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
/* nav ul li a.active {
    color: #ff0b0b;
} */
nav ul li a svg {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 700px) {
    nav ul li {
        display: inline-block;
        margin: 15px;
    }

    nav ul li a p {
        font-size: 12px;
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 699px) {
    nav ul li {
        display: inline-block;
        margin: 12px;
    }

    nav ul li a p {
        font-size: 12px;
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    nav ul li {
        display: inline-block;
        margin: 10px;
    }

    nav ul li a p {
        font-size: 12px;
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 400px){
    nav ul li {
        display: inline-block;
        margin: 8px;
    }

    nav ul li a p {
        font-size: 12px;
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 380px){
    .menu {
        /* background-color: #F6F8FD;  */
        padding: 8px ;
        border: 1px solid #ccc;
    }

    nav ul li {
        display: inline-block;
        margin: 5px;
    }

    nav ul li a p {
        font-size: 12px;
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 340px) {
    .menu {
        /* background-color: #F6F8FD;  */
        padding: 8px ;
        border: 1px solid #ccc;
    }


    nav ul li a p {
        font-size: 10px;
        margin: 0;
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        margin: 10px;
    }
}
/* nav menu */


/* cerita */
.cerita header a{
    margin: 0 15px 0 15px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 5px;
    background: #f6f6f6;
    background: #F6F8FD;
    display: flex;
    align-items: center;
    justify-content: space-between;}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

:is(.cerita, .cerita-list) .content {
    display: flex;
    align-items: center;
}

.cerita header .content img{
    height: 35px;
    width: 35px;
}

.cerita .details {
    color: #000;
    margin-left: 15px;
}

.cerita .details span p{
    text-align: center;
    width: 350px;
    padding: 8px;
    font-size: 12px;
    font-weight: 300;
    border: 1px solid #e6e6e6;
}

@media screen and (max-width: 756px) {
    .cerita .details span p {
        width: 300px;
    }
}

@media screen and (max-width: 390px){
    .cerita .details span p {
        width: 250px;
    }
}

.cerita-list {
    max-width: 600px;
    border: #000;
    margin: 10px;
    page-break-after: 10px;
    border-bottom-color: #f1f1f1;
    overflow-y: auto;
    max-height: 400px;
    display: block;
}

@media screen and (min-width: 757px) {
    .cerita-list {
        max-width: 550px;
    }
}

.cerita-list .details {
    margin: 5px;
    padding: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
}

.cerita-list::-webkit-scrollbar {
    width: 0px;
}

.cerita-list .details > div {
    display: flex;
    align-items: center;
}

.cerita-list .details img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.cerita-list .details span {
    font-size: 15px;
    font-weight: 500;
}

/* .cerita-list .details a {
    margin-left: 250px;
} */


.balas-cerita {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.icon-balas {
    margin-bottom: 5px; /* Mengatur jarak antara ikon dan teks */
}
.icon-balas i {
    font-size: 15px; /* Ukuran ikon */
}
.vertical-link p {
    margin: 0; /* Menghilangkan margin default dari paragraf */
}

.cerita-content {
    max-width: 450px;
}

.cerita-list .cerita-content p {
    margin-top: 15px;
    font-size: 12px;
}

@media screen and (min-width: 757px) {
    .cerita-list {
        min-height: 65vh;
    }

    .cerita-list .details a {
        margin-left: 255px;
    }
}

@media screen and (min-width: 350px) and (max-width: 400px){
    .cerita-list {
        min-height: 65vh;
    }
}

@media screen and (min-width: 401px) and (max-width: 450px){
    .cerita-list {
        min-height: 65vh;
    }

    .cerita-list .details a {
        margin-left: 240px;
    }
}

@media screen and (min-width: 451px) and (max-width: 500px) {
    .cerita-list {
        margin-left: 245px;
    }
}

@media screen and (min-width: 501px) and (max-width: 599px) {
    .cerita-list {
        min-height: 65vh;
    }
}

@media screen and (min-width: 601px) and (max-width: 756px){
    .cerita-list {
        min-height: 65vh;
    }

    .cerita-list .details a {
        margin-left: 255px;
    }
}

@media screen and (min-width: 300px) and (max-width: 349px) {
    .cerita-list {
        max-height: 250px;
    }

}

@media screen and (min-width: 365px) and (max-width: 380px){
    .cerita-list .details a {
        margin-left: 190px;
    }
}



@media screen and (min-width: 381px) and (max-width: 400px){
    .cerita-list .details a {
        margin-left: 210px;
    }
}

@media screen and (min-width: 345px) and (max-width: 364px){
    .cerita-list .details a {
        margin-left: 185px;
    }
}

@media screen and (min-width: 310px) and (max-width: 344px){
    .cerita-list .details a {
        margin-left: 175px;
    }
}
/* 


/* komentar */

.komen-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.komen-area header .back-icon {
    font-size: 20px;
    color: #333;
    font-weight: 700;
}

.komen-area header .back-icon:hover {
    color: #ff0b0b;
    font-weight: bold;
}

.komen-area header span {
    margin-left: 20px;
    font-size: 17px;
    font-weight: 500;
}

.komen-box {
    padding: 10px;
    overflow-y: auto;
    height: 500px;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgba(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgba(0 0 0 / 5%);
}

/* 
.komen-box .komen {
    margin: 15px 0;
} */

.komen-box .komen p {
    margin-top: 5px;
    margin-left: 15px;
    width: 300px;
    word-wrap: break-word;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 32px rgba(0 0 0 / 8%),
                0 16px 16px -16px rgba(0 0 0 / 16%);
}

.komen-box::-webkit-scrollbar {
    width: 0px;
}

@media screen and (min-width: 450px) {
    .komen-box .komen p {
        width: 350px;
        margin-top: 10px;
        padding: 18px;
    }
}

.komen-box .komen {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.komen .anonim-komen {
    display: flex;
    align-items: center;
}

.komen .anonim-komen h4 {
    font-weight: 500;
    font-size: 15px;
}

.anonim-komen img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.komen details {
    margin-top: 10px;
}

.komen details p{
    margin: 0;
}

.komen-area .incoming {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.komen-area .typing-area {
    padding: 18px 30px;
    justify-content: space-between;
    display: flex;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px;
    outline: none;
}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    background: #ff0b0b;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
}




/* .outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
} */

/*  */

/* 

.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.incoming .details p {
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}

.komen-area .typing-area {
    padding: 18px 30px;
    justify-content: space-between;
    display: flex;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}


/* pengaturan */
navbar-pengaturan {
    display: flex;
    height: auto;
}

.nav-pengaturan {
    display: flex;
    background:#F6F8FD;
    /* padding: 10px; */
    border-bottom: 1px solid #ccc;
}

.navbar-pengaturan .nav-pengaturan ul li p {
    color: rgba(255, 11, 11, 0.75);
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}

.navbar-pengaturan .nav-pengaturan ul li p span {
    color: rgba(0, 0, 0, 0.75);
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.header-pengaturan {
    /* color: #ff0b0b; */
    margin-top: 2px;
    border-bottom: 1px solid #ccc;
    /* background: #F6F8FD; */
}

.header-pengaturan h4{
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
}

.setting-content {
    min-height: 65vh;
}

.profile-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    /* width: calc(100% - 20px); */
    cursor: pointer;
}

.profile-user:hover {
    background: #F6F8FD;
}

.profile-user p:hover {
    font-weight: 600;
}
    
.profile-user p{
    margin-left: 20px;
    font-size: 15px;
    color: #ff0b0b;
    font-weight: 500;
}

/* .profile-user button {
    color: #ff0b0b;
    font-size: 20px;
} */

.bahasa-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    /* color: #ff0b0b; */
    font-weight: 500;
}

.bahasa-user label {
    margin-left: 30px;
    font-size: 15px;
    cursor: pointer;
    color: #ff0b0b;
}

.bahasa-user label:hover {
    font-weight: 600;
}

.bahasa-user select {
    padding: 10px;
    font-size: 15px;
    background: none;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .bahasa-user select {
        font-size: 14px;
        margin-left: 10px;
    }
    .bahasa-user option {
        font-size: 12px;
    }
}

.keluar a {
    text-align: center;
    position: absolute;
    color: #fff;
    padding: 8px;
    font-size: 15px;
    background-color: #ff0b0b;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 15px;
    width: 120px;
}

.keluar a:hover {
    font-weight: 600;
}

.hapus a {
    text-align: center;
    position: absolute;
    color: #fff;
    padding: 8px;
    font-size: 15px;
    background-color: #ff0b0b;
    border-radius: 10px;
    margin-left: 310px;
    margin-top: 15px;
    width: 120px;
}

.hapus a:hover {
    font-weight: 600;
}

@media screen and (min-width: 400px) and (max-width: 450px) {
    .keluar a {
        padding: 5px;
    }

    .hapus a {
        padding: 5px;
        margin-left: 290px;
    }
}

@media screen and (min-width: 380px) and (max-width: 399px) {
    .keluar a {
        padding: 5px;
    }

    .hapus a {
        padding: 5px;
        margin-left: 250px;
    }
}

@media screen and (min-width: 370px) and (max-width: 379px) {
    .keluar a {
        padding: 5px;
    }

    .hapus a {
        padding: 5px;
        margin-left: 235px;
    }
}

@media screen and (min-width: 350px) and (max-width: 369px) {
    .keluar a {
        padding: 5px;
    }

    .hapus a {
        padding: 5px;
        margin-left: 225px;
    }
}


/* profile user */
.header-profile header{
    color: #333;
    margin-top: 2px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 5px;
    /* background: #F6F8FD; */
}

.header-profile header .back-icon {
    color: #333;
    font-size: 15px;
    margin-left: 30px;
}

.header-profile header .back-icon:hover {
    color: #ff0b0b;
}

.header-profile h4{
    font-size: 15px;
    margin-left: 90px;
    /* text-align: center; */
    font-weight: 500;
    padding: 10px;
}

.header-profile header .edit-profile-user {
    margin-left: 100px;
}

@media screen and (max-width: 376px) {
    .header-profile h4 {
        margin-left: 10px;
    }
}

@media screen and (min-width: 377px) and (max-width: 400px) {
    .header-profile h4 {
        margin-left: 15px;
    }
}

@media screen and (min-width: 401px) and (max-width: 450px) {
    .header-profile h4 {
        margin-left: 15px;
    }

    .edit-profile-user-container {
        margin-left: 35px;
    }
}

.edit-profile-user-container {
    /* position: relative; */
    display: inline-block;
}

.edit-profile-user-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 5px;
    white-space: nowrap;
    z-index: 10;
    font-size: 12px;
}

@media screen and (max-width: 450px) {
    .edit-profile-user-text {
        margin-left: 0;
    }
}

.edit-profile-user:hover + .edit-profile-user-text {
    display: block;
}

/* 
.header-profile header .edit-profile-user:hover {
    color: #ff0b0b;
} */

.header-profile header .edit-profile-user:hover svg path {
    fill: #ff0b0b;
}

.form-isi {
    padding: 15px 30px;
min-height: 65vh;
}

.form-isi .profile {
    background: #F6F8FD;
}

.form-isi header {
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}

.form-isi header .intro h3 {
    font-size: 22px;
    font-style: italic;
    
}

.form-isi header .intro h3 span {
    color: #ff0b0b;
}

.form-isi header .intro p {
    font-size: 15px;
    color: #67676a;
}

/* .form-isi header .daftarkan {
    margin-top: 25px;
    font-size: 17px;
    color: #ff0b0b;
} */

.form-isi form .list-daftar {
    max-height: 500px;
    overflow-y: scroll;
    margin: 10px;
    }
    
    .form-isi form .list-daftar::-webkit-scrollbar {
        width: 0px;
        padding: 20px;
}

.form-isi form {
    margin-top: 15px;
}

/* .form-isi form .error-txt {
    color: #721c24;
    background-color: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
} */

/* .form-isi .name-details{
    width: 75px;
    height: 75px;
} */

.form-isi .name-details .field:first-child {
    margin-right: 10px;
}

.form-isi .name-details .field:last-child {
    margin-left: 10px;
}

.form-isi .name-details {
    display: flex;
}

.form-isi .name-details .field:first-child {
    margin-right: 10px;
}

.form-isi .name-details .field:last-child {
    margin-left: 10px;
}



.form-isi .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.form-isi .field label {
    margin-bottom: 2px;
    font-size: 15px;
}

.form-isi .field i {
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-isi .field i.active::before {
    color: #333;
    content: "\f070";
}

.form-isi .field input {
    outline: none;
}

.form-isi .input input,
#pilihProdi, #pilihKelas{
    height: 30px;
    width: 100%;
    font-size: 15px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-isi .image label {
    font-size: 15px;
}

.form-isi .image input {
    font-size: 14px;
}

.form-isi .button input {
    margin-top: 13px;
    height: 30px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #ff0b0b;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.form-isi .button input:hover {
    font-weight: 700;
}

.form-isi .link {
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
    color: #333;
}

.form-isi.link a {
    color: #ff0b0b;
    text-decoration: none;
    font-weight: 600;
}

.form-isi .link a:hover {
    text-decoration: underline;
}

.notifikasi {
    margin-top: 5px;
    height: 25px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    background: #ff0b0b;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 250px;
}

.notifikasi:hover {
    font-weight: bold;
}

.notifikasi p {
    text-align: center;
}